body {
    background-color:#F9F7F7;
}

hr {
    border-color: #DBE2EF;
    border-style: dotted none none none;
    border-width: 10px;
    width:4%;
  
}

h1 {
    color: #3F72AF;
    text-decoration: underline;
}

h2 {
    color: #3F72AF;
}

a{
    text-decoration: none;
}

table{
    text-indent: 34px;
}

.dabi {
    border-radius: 100%;
    
}



